*{
	margin: 0;
	padding: 0;
}


body {
	font-family: Arial, sans-serif;
	background-color: #ffcd29;
	min-height: 100vh;
}

.container {
	width: 50%;
	position: absolute;
    top: 42.5%;
    left: 55%;
    transform: translate(-50%, -50%);
	border: black;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 6vw;
	position: absolute;
}

.button-container {
	display: flex;
	justify-content: right;
	margin-right: 3vw;
}

.login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login:hover span {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
}

.signup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signup span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signup:hover span {
  padding-right: 25px;
}

.signup:hover span:after {
  opacity: 1;
  right: 0;
}

.button-container button {
	margin: 0 2vw;
	margin-top: 4vw;
	padding: 2.5vh 2.5vw;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-container button.login {
  	background-color: #4CAF50;
  	color: white;
}

.button-container button.signup {
  	background-color: #2196F3;
  	color: white;
}
